.heading_title {
  font-size: 2rem;
}

.form_container {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 2rem 3rem;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 0.75rem 0.25rem;
  border-radius: 5px;
  border-color: #e8e8e8fc;
  outline: none;
  margin: 0.35rem 0;
}

.form__control {
  margin: 0.5rem 0;
}
.error {
  font-size: 0.75rem;
  color: rgb(128, 1, 1);
}
