.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
}

.profile__container > div {
  width: 400px;
  background-color: white;
  box-shadow: 0px 5px 100px rgb(217, 217, 217);
  border-radius: 15px;
  text-align: center;
  padding: 0 0 2rem 0;
}
.fonts {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(11, 4, 86);
}
