body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

.btn_submit {
  margin-top: 1.5rem;
  background-color: green;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 0.5rem 0;
  outline: none;
  border-color: #dfdfdffc;
}
